
section{
    margin:40px 0;
}

.word{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}





/* debug */
[class*="col"]{
   
    min-height: 50px;
    background-color: #006cfa;
    border:solid 2px white;
}


